<nav>
    <div class="site-title">
        <h1><a href="/">Random Page</a></h1>
        <p>Aayush's node site</p>
    </div>
    <ul>
        <li><a href="/about">About me</a></li>
        <li><a href="/contact">Contact Us</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
    </ul>
</nav>
<br>