<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

  <body>
    <%- include('./partials/navbar') %>
      <h1>ERROR 404: PAGE NOT FOUND</h1>

      <div class="not-found content">
        The document you are trying to find is not available
      </div>
      <%- include('./partials/footer') %>
  </body>

</html>