<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>

  <body>
    <%- include('./partials/navbar') %>

    <div class="content-page">
      <p><strong>About us </strong></p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi ipsam
        dolore distinctio autem eveniet, ducimus enim dolor modi minus. Vitae
        doloremque tenetur odio inventore est. Alias eveniet molestiae dolor
        excepturi.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi quia
        ullam dignissimos fugit eligendi provident. Non animi beatae est
        voluptatem inventore sapiente iusto doloremque debitis autem. Aspernatur
        vel eius consequatur.
      </p>
    </div>
    <%- include('./partials/footer') %>
  </body>
</html>
