<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head')  %> 

  <body>
    <%- include('./partials/navbar') %>

    <div class="about-us">
      <h2>Contact Us via:</h2>
      <p>Faceboook</p>
    </div>
    <%- include('./partials/footer')  %> 

  </body>
</html>
